* {
    box-sizing: border-box;
  } 
  
  
/* ================================================================================ */
body {
    background-color: rgb(227, 238, 240);
    margin-top: 0 ;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0; 
   
    text-align: center;  
}
 
/* ================================================================================ */
.hero-section{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("Images/hero.jpg");
    
    background-position: center;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.svg1{
    position: absolute;
    top: 30px;
    left: 100px;
}

.hero-heading{
    color: white;
    text-align: center;
    font-size: 50px;
    
}

/* ================================================================================ */

.standard-section{
    padding-top: 60px;
    padding-bottom: 60px;
}

.centered-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
}

.section-heading{
    font-size: 2em;
}

/* ================================================================================ */

.black-version{
    background-color: rgb(32, 32, 32);
    
}
.black-unique{
    display: flex;
    flex-flow: row ;
    justify-content: space-around;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    
}


.unique{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.unique-text{
    
    color: white;
    text-align: left;
    margin-left: 10px;
}


.unique-furniture{
    width: 50px;
    height: 50px;
    margin: auto;
    filter: brightness(100%);
}

/* ================================================================================ */

/*Grid section: Furniture Images Section*/

.furniture-margin{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 95px;  
}
.furnitureImages{
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
}

.grid-image {
    width: 100%;
    
}

.parent-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 35px;
    
    
    justify-content: center;
    align-items: center;
   
}

.div1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.div2 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}
.div3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

.div4 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.div6 {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.div7 {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}

.div8-text {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    color:rgb(97, 88, 88);
}

.div11 {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
}


/* ================================================================================ */


.black-container2{
    background-color: rgb(32, 32, 32);
    width: 100%;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.george-text{
    color: white;
    text-align: center;
    font: 20px Arial, serif;
    font-style: italic;
    
}

/* ================================================================================ */

.photo-margin{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 150px;
}

.photos{
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
}

.photo-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    
}

.grid1{
    width:100%;
    height: 242px;
    background-image: url("Images/living.jpg");
    background-position: center;
    background-size: cover; 
}
.grid2{
    width:100%;
    height: 242px;
    background-image: url("Images/dining.jpg");
    background-position: center;
    background-size: cover;   
}
.grid3{
    width:100%;
    height: 242px;
    background-image: url("Images/lounging.jpg");
    background-position: center;
    background-size: cover;   
}

.column {
    
    display: flex;
    flex-direction: column;
}
#text-wrapper {
    
    text-align: left;
    background-color: #ffffff;
    padding: 35px;
    
}

.blackBox{
    background-color: black;
    height: 20px;
    width: 70px;
    margin-left: 5px;
    
    position: relative;
    top: 210px;
    

    display: flex;
    justify-content: center;
    align-items: center;  
}

.boxText{
    color: white;
    
    font-size: 10px;
}

/* ================================================================================ */

/* -------------Form section---------------------*/

.form-margin {
    margin-top: 50px;  
    margin-left: 100px;
    margin-right: 100px;

}
.form{
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
}

.form-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.form-grid1{
    grid-column: 1/2;
    grid-row: 1/2;
    
}

.form-grid2{
    grid-column: 2/3;
    grid-row: 1/2;
    
}
.contact{
   
    display: flex;
    flex-direction: column;
    
    justify-content:left;
    align-items: left;
    
}

.contact-heading{
    margin-top: 0em;
    text-align: left;
    color: black;
    font-size: 40px;

}
.contact-para{
    text-align: left;
    font-size: 20px;
    max-width: 90%;
    color: rgb(79, 90, 90);

}
.contact-details{
    text-align: left;
    font-size: 20px;

}

#form-wrapper{
    display: flex;
    flex-direction: column;

    justify-content:left;
    align-items: left;  
    text-align: left;
}

.form-firstLine{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;  
}


.inputForm {
    background-color: #F7F7F7;
    border-color: #F7F7F7;
    width: 100%;
    height:50px;
    
    font-size: 1.2em;
   
    margin-right: 100px;
    
    font-weight: 100;
    box-shadow: none;
    border: none;
    padding-left: 10px;
    
}

.name{
    margin-right: 20px;
}
.email{
    margin-right: 0px;
    margin-left: 0px;
}
.title{
    margin-top: 25px;
}


.comment {
    padding-left: 10px;
    padding-top: 15px;
    box-shadow: none;
    border: none;
    font: 1em sans-serif;
    background-color: rgb(248, 251, 252);
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 20em;
    width:100%;
  }

#formButton {
    background-color:black;
    color: white;
    font-size: 1.2em;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
    font-family: inherit;
    font-weight: 100;
    transition: transform 0.5s, box-shadow 0.5s;

    align-items: left;  
}
#formButton:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
}

/* ================================================================================ */

.bottom-container{
    background-color: rgb(80, 77, 77);
    width: 100%;
    

    margin-top:100px;
    text-align: left;

    justify-content: center;
    align-items: center;
}

.bottom{
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
}


.social-grid{
    
    margin-top:100px; 
    margin-bottom:100px; 

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px; 
}

.social-heading{
    margin-top:0px;
    margin-bottom: 40px;
}
.social-grid1{
    display:flex;
    flex-direction: column;
    
    justify-content:left;
    align-items: left;  
    
    
    color: white;
}
.about-description{
    margin-top:0px;
    margin-bottom: 0px;
}

.social-grid2{
    display:flex;
    flex-direction: column;
    
    justify-content:left;
    align-items: left;  

    
    color: white;
}
.social-iconImage{
     
    justify-content: left; 
    margin-top: 20px;
}
.social-icons{
    height: 30px;
    width:30px;
}

.twit{
    display:flex;
    flex-direction: row;
    
    justify-content:left;
    align-items: left;   
}
.twit-description{
    padding-left:20px ;
    margin-top:0px;
    width: 100%; 
    text-align: left;
    font-size: 1.2em;
}

.social-grid3{
    display:flex;
    flex-direction: column;
    
    justify-content:left;
    align-items: left;  

    
    
    color: white;
}

.insta-image {
    width: 100%;
    
}

.instagram-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    
    
    justify-content: center;
    align-items: center;
   
}

.photo1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.photo2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.photo3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

.photo4 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.photo5 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.photo6 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.photo7 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.photo8 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}



/* ================================================================================ */
/* To Top */
.svg2{
    position: fixed;
    bottom: 20px;
    left: 20px;

}

#toTopButton {
    background: none;   
    box-shadow: none;
    border: none;
    width: 75px;
    border-radius: 50%;
    display: none;
    
}

#toTopButton img {
    width: 100%;
}

#toTopButton:hover{
    background-color: rgb(221, 216, 216);
}

/* ================================================================================ */

/* ================================================================================ */
@media only screen and (max-width: 600px) 
{
    .black-unique{
        flex-flow: column ;
    }

    .parent-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 35px;
       
        justify-content: center;
        align-items: center;
       
    }
    
    .div1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    .div2 {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }
    .div3 {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
      }
    
    .div4 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    .div6 {
        grid-column: 2 / 3;
        grid-row: 3 / 5;
    }
    
    .div7 {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
    }
    
    .div8-text {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        color:rgb(97, 88, 88);
    }
    
    .div11 {
        grid-column: 1 / 3;
        grid-row: 6 / 7;
    }

    
    .photo-grid {
        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;

    }
}