body {
    background-color: rgb(227, 238, 240);
    margin-top: 0 ;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0; 
   
    text-align: center;  
}
 
/* ================================================================================ */
.hero-section{
    height: 100vh;
    background-image: url("Images/hero.jpg");
    background-blend-mode: darken;
    
    background-position: center;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-heading{
    color: white;
    text-align: center;
    font-size: 60px;
}

/* ================================================================================ */

.furniture-heading1{
    font-size: 20px;
}
.furniture-description1{
    font-size: 15px;
}

/* ================================================================================ */

.black-container1{
    background-color: rgb(32, 32, 32);
    width: 100%;
    height: 200px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.unique-sofas{
    width: 50px;
    height: 50px;
    margin: auto;
    filter: brightness(100%);
}
.unique-tables{
    width: 50px;
    height: 50px;
    margin: auto;
    filter: brightness(100%);
}
.unique-chairs{
    width: 50px;
    height: 50px;
    margin: auto;
    filter: brightness(100%);
}
.unique-mugs{
    width: 50px;
    height: 50px;
    margin: auto;
    filter: brightness(100%);
}

/* ================================================================================ */

.furniture-heading2{
    font-size: 20px;
}
.furniture-description2{
    font-size: 15px;
}

/* ================================================================================ */

/*Furniture Images Section*/
.furniture-margin{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}


.furniture-imagesCol1{
    display: flex;
    flex-direction: column;
    
    justify-content:flex-start;
    

}
.mug1{
    
    width: 25%;
    
    filter: brightness(90%);
    

}
.mug2{
    
    width: 25%;
     
    filter: brightness(90%);
    
}
.chair2{
    
    width: 25%;
     
    filter: brightness(90%);
    
}
.furniture-imagesCol2{
    display: flex;
    flex-direction: column;
    
    justify-content: center;   
}
.table1{
    width: 25%;
     
    filter: brightness(90%);  
}

.text{
    width: 25%;
    text-align: center;
    color: rgb(117, 115, 115); 
}

.furniture-imagesCol3{
    display: flex;
    flex-direction: column;
    
    justify-content: flex-end;   
}
.mug3{
    width: 25%;
     
    
}
.chair3{
    width: 25%;
}
.sofa{
    width: 25%; 
}

/* ================================================================================ */

.black-container2{
    background-color: rgb(32, 32, 32);
    width: 100%;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.george-text{
    color: white;
    text-align: center;
    font: 20px Arial, serif;
}

/* ================================================================================ */

.furniture-heading3{
    font-size: 20px;
}

.furniture-description3{
    font-size: 15px;
}

/* ================================================================================ */

.photo-margin{
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 100px;
}

.column-image1 {
    width: 100%;
    
    
}
.column-image2 {
    max-width:100%;
    
    object-fit: fit;
    
    
}
.column-image3 {
    max-width:100%;
    
    object-fit: fit;
    
}
.column {
    
    margin: 10px;
    max-width: 33.3%;
    text-align: left;
    background-color: #ffffff;
}
#text-wrapper {
    padding: 15px;
}

.blackBox1{
    background-color: black;
    height: 20px;
    width: 70px;
    margin-left: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.blackBox2{
    background-color: black;
    height: 20px;
    width: 70px;
    margin-left: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.blackBox3{
    background-color: black;
    height: 20px;
    width: 70px;
    margin-left: 5px;
    

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.boxText1{
    color: white;
    text-align: center;
    font-size: 10px;
}
.boxText2{
    color: white;
    text-align: center;
    font-size: 10px;
}
.boxText3{
    color: white;
    text-align: center;
    font-size: 10px;
}

/* ================================================================================ */

/* -------------Form section---------------------*/

.form-section {
    
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;

    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content:center;
    
    align-items: left;

}

.contact{
   
    display: flex;
    flex-direction: column;
    
    justify-content:left;
   

}

.contact-heading{
    margin-top: 0em;
    text-align: left;
    color: black;
    font-size: 40px;

}
.contact-para{
    text-align: left;

}
.contact-details{
    text-align: left;

}

.inputForms {
    background-color: #F7F7F7;
    border-color: #F7F7F7;
    width: 100%;
    height: 50px;
    font-size: 1.2em;
    margin-top: 25px;
    margin-right: 100px;
    margin-left: 10px;
    font-weight: 100;
    box-shadow: none;
    border: none;
    padding: 0px 15px 0px;
}
.inputForms4 {
    background-color: #F7F7F7;
    border-color: #F7F7F7;
    width: 100%;
    height: 150px;
    font-size: 1.2em;
    margin-top: 25px;
    margin-right: 100px;
    margin-left: 10px;
    font-weight: 100;
    box-shadow: none;
    border: none;
    padding: 0px 15px 0px;
    
}
#formButton {
    background-color: #391605;
    color: white;
    font-size: 1.2em;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
    font-family: inherit;
    font-weight: 100;
    transition: transform 0.5s, box-shadow 0.5s;
}

/* ================================================================================ */

